:root{

    --bgcolor:#FEF4FE;
    --articlefont:Helvetica,Arial,sans-serif;
}

body
{

font-weight: normal;
font-style: normal;
font-size: 1.1em;
line-height: 1.4;
font-family: Arial, Helvetica, sans-serif;
background-color: var(--bgcolor)

/*
Or we can write in one line
font:normal normal 1.1em/1.4 Arial, Helvetica, sans-serif;
*/
}

.container
{

    margin:auto;
    width:70%;
}

.head
{

    background-color:#700B70;
    color:var(--bgcolor);
    text-align: center;
    font-size: 2em;/*'em' Multiple of current size which is 1.1 (body) */
    /*background-image: url(../img/humber.jpg); */
}
.topbar
{

    background-color:#700B70;
    color:#fff;
    text-align: center;
    font-size: 2em;/*'em' Multiple of current size which is 1.1 (body) */
    /*background-image: url(../img/humber.jpg); */
}

article {
    width: 100%;
    background-color: #fff;
    font-family:var(--articlefont) ;
    padding: -1em;;
    border-style: groove;
    border-radius: 1em;
    margin: auto;
  
   
}

.mainimage{

    width: 90%;
    text-align: center;
    margin: auto;
    max-width: 50em;
}

.rel
{

    box-sizing: content-box;
    /* Content Box Heightw/width sets for content
    Border-box sets height width for whole box */
    width:16em;

    height:auto;
/*    padding: 1em 2em 1.5em 0.5em;Top right botoom left, if two values than top and bottom*/
    padding:2em 2em 2em 2em;
    text-align: center;
    border-width: 0.1em;
    border-style: solid;
    border-color: black;
    /*margin: 1em;*/
    background-color: azure;
    border-radius: 1em;
}
.related
{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 0.5em;

}
.footer
{

    height: 10%;
    width: 100%;
    background-color:#700B70;
    text-align: center;
    color: #fff;

}

.imgset{
    max-width: 99%;

    margin: 0;
}


a{
    color: var(--bgcolor);
}

.inlinelist{

display: inline;

}

.socialmedia
{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   text-align: center;
   margin-bottom: 0.5em;
   flex-direction: row;
   flex-wrap: wrap;
    justify-content: space-around;
    min-height: 20em;
    align-items: stretch

}