body
{

font-weight: normal;
font-style: normal;
font-size: 1.1em;
line-height: 1.4;
font-family: Arial, Helvetica, sans-serif;
background-color: #FEF4FE;

/*
Or we can write in one line
font:normal normal 1.1em/1.4 Arial, Helvetica, sans-serif;
*/
}

.head
{

    background-color:#700B70;
    color:#fff;
    text-align: center;
    font-size: 2em;/*'em' Multiple of current size which is 1.1 (body) */
    /*background-image: url(../img/humber.jpg); */
}

article {
    width: 100%;
    background-color: #fff;
   
}

.mainimage{

    width: 90%;
    text-align: center;
}

.rel
{
    width:20%;
    float: left;
}
.related
{
    
}
.footer
{

    height: 10%;
    width: 100%;
    background-color:#700B70;
    text-align: center;
    color: #fff;

}

/*
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}
*/

a{
    color: aliceblue;
}